<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>TestSerlet</servlet-name>
    <servlet-class>TestSerlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CapiServlet</servlet-name>
    <servlet-class>com.common.web.CapiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.common.file.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSerlet</servlet-name>
    <url-pattern>/TestSerlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CapiServlet</servlet-name>
    <url-pattern>/CapiService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
</web-app>